<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/assets/images/logos/logo-white.png" alt="Bepari" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/pages/projects/listing.html">Invest</a></li>
                <li class="nav-item"><a class="nav-link" href="/pages/farmer/request.html">For Farmers</a></li>
                <li class="nav-item"><a class="nav-link" href="/pages/legal/terms.html">Legal</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                        About
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/pages/legal/privacy.html">Privacy</a></li>
                        <li><a class="dropdown-item" href="/pages/legal/Team.html">Team</a></li>
                    </ul>
                </li>
                <li class="nav-item ms-lg-3">
                    <a class="btn btn-primary btn-glow" href="/pages/auth/login.html">Login / Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>